.submit-btn {
    border: 0;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(24, 117, 240);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425);
    color: white;
}

.commits-title {
    margin: 10px 10px;
    font-weight: bold;
}

.pagination-btn {
    border: 0;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(24, 117, 240);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425);
    color: white;
    margin: 10px 10px;
}

.pagination-btn:hover {
    background-color: rgb(20, 101, 207);
    outline: none;
    cursor: pointer;
}

.pagination-btn:active {
    background-color: rgb(18, 90, 184);
    outline: none;
}

.pagination-btn:focus {
    outline: none;
}

.commitsItemStyle {
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    border-spacing: 5px;
    outline: 1px grey solid;
    background-color: white;
    max-width: max-content;
    text-align: start;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.425);
}